# Dependencies
node_modules
npm-debug.log

# Build Output
dist

# Environment variables
.env

# Local Scripts & Logs (Do not upload to Render)
*.bat
build_error.txt
full_build_log.txt
debug_parser.js
mockData.js

